BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
# Column alignment for consecutive assignments and declarations:
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true